.title {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    &_left {
        text-align: left;
        color: #FFF;
        font-size: 36px;
        font-weight: 700;
    }
}